*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f1f1f1;
    
}

/*-----------NAVBAR SECTION------*/
nav{
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
    position: static;
}

.logo img{
    width: 130px;
    color: #fff;
    padding: 10px;
}

.logo2{
    opacity: 0;
    width: 130px;
}



.search_bar{
    width: 500px;
    border-radius: 10px;
    border: 2px solid Gray;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.search_bar img{
    width: 20px;
    color: white;
}

.search_bar input[type="text"]{
    border: none;
    outline: none;
    background: transparent;
    margin-left: 5px;
    color: Gray;
    
}

.side_menu{
    display: flex;
    line-height: 40px;

}

.side_menu_col{
    border: 2px solid gray;
    height: 40px;
    width: 200px;
    display: flex;
  
}

.side_menu img{
    width: 40px;
    background: gray;
    color: #fff;
    border: 2px solid white;
    margin-right: 20px;
}
.side_menu_col h1{
    text-align: left;
   width: 100%;
   font-size: 15px;
   

}
.side_menu_col button{
    background: greenyellow;
    color: black;
    text-transform: uppercase;
    padding: 4px 2px;

}
.alert{
    display: none;
}

.navLink{
    display: none;
}

/*---------NAVBAR SECTION ENDS HERE-------*/


/*---------HERO SECTION STARTS HERE-------*/

.heros{
    top: 50%;
    margin: 50px;
    width: 90%;
    align-items: center;
    justify-content: center;
}


.hero_ad{
    background: black;
    color: white;
   display: flex;
   line-height: 50px;
    border-radius: 10px;
    width: 90%;
    display: flex;
    align-items: left;
    justify-content: space-between;
    
}

.hero_ad_col{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.hero_ad_col a{
    padding: 1px 0px ;
    width: 100px;
    background: #fff;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;

}

.hero_ad_col  svg{
   cursor: pointer;
}


.hero_heading{
    width: 90%;
    margin-top: 30px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 1;
 
}
.row{
    display: flex;
    justify-content: space-between;
}


.hero_heading_col{
    padding: 20px;
}

.hero_heading_col p{
    padding-top: 20px;
    display: flex;

   
}

.status_bar{
    width: 50px;
   
    border-radius: 10px;
    background: #f1f1f1;
}

.status_percent{
    width: 20px;
    background: black;
    border-radius: 5px;

    
}

.hero_heading_col img{
    font-size: 40px;

}


.hero_content_heading{
    display: flex;
}

.show_btn{
    cursor: pointer;
}



/*-----------HERO BODY SECTION------*/

.hero_body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: 0.4s;
    overflow-y: auto;
  
    
}

.hero_content{
    background: #f1f1f1;
    border-radius: 10px;
    margin: 10px;

}

#content{
    position:  absolute;
    z-index: 2;
   
    max-height: 500px;
}


   

.row{
    display: flex;
    padding: 10px;
}


.hero_content-col{
  padding: 5px;
  text-align: left;
  align-items: left;
  justify-content: left;
  
}


.hero_content_heading{
    display: flex;
    gap: 1rem;
    padding-bottom: 20px;
}

.hero_content_heading h1{
    color: black;
    font-size: 22px;
    font-weight: 600;
}

.image_container{
    width: 30px;
    position: relative;
}


.image_container{
    width: 50px;
    position: relative;
    cursor: pointer;
overflow: hidden;
}

.second-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.first-image{
    transition:0 .4s
}

.image_container:hover .second-image {
    opacity: 1;
  transform: rotate(360deg);
}

.image_container:hover .first-image{
    opacity: 0;
}

.hero_content-col p{
    padding-bottom: 20px;
    padding-left: 40px;
    font-size: 15px;
    color: gray;
}


.hero_content-col button{
    margin-left: 35px;
    width: 130px;
    cursor: pointer;
    transition: 0.4s;
}

.content_btn{
    background: gray;
    border-radius: 10px;
    width:100%;
    height: 30px;
    text-align: center;
    color: white;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px solid black;
    cursor: pointer;
    transition: 0.4s;
   
}


#hero_shrink{
    opacity: 0;
}

#showIcon{
    font-size: 25px;
    cursor: pointer;
}


/*-------- MEDIA QUERRY FOR------*/
@media  (max-width: 400px){
   body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
   height: 10px;
   }

    nav{
        width:100%;
        margin: 0px;
        padding: 0;
        justify-content: space-between;
        align-items: center;
        display: flex;
        gap: 1rem;
       left: 0;
       margin-left: 0;
    }

    
    
    .logo img{
        width: 60px;
    }

    .logo1{
        display: none;
    }
    .logo2{
        opacity: 1;
        width: 100%;
    }

    .search_bar{
       width: 100px;
       padding: 5px;
       margin-top: -12px;
    }

    .side_menu{
        width: 130px;
        align-items: center;
        gap: 0.5rem;
    }
    .side_menu_col{
        width: 25px;
        border: none;
        gap: 0px;
    }
    .side_menu svg{
    border: none;
    background: transparent;
  
    }

  
    .side_menu_col h1{
       display: none;
        
    }
    .side_menu_col button{
       width: 30px;
       height: 30px;
       border-radius: 5px;
       border: transparent;
       text-align: center;
    }

    .heros{
        margin-top: 10px;
        margin-left: 0px;
        width: 100%;
    }
    .hero_ad{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        
        width: 100%;
        border-radius: 0px;
        width: 100%;
    }

      .hero_ad_col h1{
        font-size: medium;
      }
}

/*---------MEDIA QUERY FOR MAX-WIDTH:699PX------*/


@media  (max-width: 679px){
    body{
     width: 100%;
     height: 100%;
     overflow: hidden;
     scroll-behavior: smooth;
    height: 10px;
    }
 
     nav{
         width:100%;
         margin: 0;
         justify-content: space-around;
         align-items: left;
         display: flex;
        gap: 1rem;
     }
 
     
     
     .logo img{
         width: 60px;
     }
 
     .logo1{
         display: none;
     }
     .logo2{
         opacity: 1;
         width: 100%;
     }
 
     .search_bar{
        width:300px;
        padding: 5px;
        margin-top: -12px;
     }

     .side_menu{
        align-items: center;
        gap: 0.8rem;
    }

     .side_menu_col{
         width: 10px;
         border: none;

     }
     .side_menu img{
      width: 38px;
      height: 38px;
     }

     .side_menu_col h1{
        display: none;
     }
     .side_menu_col button{
        width: 30px;
        height: 30px;
        border-radius: 5px;
        border: transparent;
        text-align: center;
        cursor: pointer;
     }

     .menu_button{
        width: 30px;
        height: 30px;
     }
 
     .heros{
         margin-top: 10px;
         margin-left: 0px;
         width: 100%;
        
        
     }

     .hero_ad{
         margin: 0;
         padding: 0;
         display: flex;
         flex-direction: column;
         justify-content: left;
         align-items: left;
         width: 100%;
         border-radius: 0px;
         width: 100%;
     }
 
       .hero_ad_col h1{
         font-size: medium;
         width: 80%;
         align-items: center;
       }
   .side_menu svg{
    cursor: pointer;
    
   }

   .hero_heading{
    margin: 0;
    padding: 0;
    width: 100%;
   }

   /*-------ALERT SECTION FOR MEDIA QUERY--------*/
       .alert{
        display: none;
        flex-direction: column;
        width: 100%;
        height: 30vh;
        position: absolute;
        background: #fff;
        left: 0;
        top: 90px;
        transition: 1.0s;
        color: black;
        border-radius: 10px;
        margin: 20px;
        cursor: pointer;
        z-index: 600;
       }

       .alert_heading{
        width: 92%;
        display: flex;
        align-items: center;
        justify-content: space-between;
       }
   .alert_heading_img  svg{
    gap: 1rem;
    color: black;
   background: black;
   }
       .alert_text{
     background: gray;
     color: black;
     font-size: larger;
     height: 15vh;
     width:85%;
     margin: 5px;
     border-radius: 7px;
       }

       .navLink{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 500px;
        background: #fff;
        position: absolute;
        top: -600px;
        right: 0px;
        z-index: 500;
        text-align: left;
        justify-content: left;
        padding: 20px;
        border-radius: 10px;
        transition: 0.4s;
        
       }

       .navlist{
        color: black;
        list-style: none;
       }
       .navLink_heading{
        display: flex;
       }

       .navlist ul li{
        list-style: none;
       }

       
       .secondlist{
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        width: 100%;
       }
       .contents{
        display: none;
       }
 }
 